html{
  scroll-behavior: smooth;
}

body{
  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #212121, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #212121, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  font-family: roboto;
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

p.menu{
  text-align: right;
}

div.primeraSeccion{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items:end;  
}

div.image img{
  width: 78%;
}

div.image{
  width: 60%;
  margin: 10px;
}

div.text{
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  float: right;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  color: white;
}


div.seccion{
  width: 100%;
  height: 100%;
  margin: 0;
}

div.texto2{
  height: 100vh;
  text-align: center;
  position: absolute;
}

li{
  list-style: none
}

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 1px 29px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #FF5655;
    background: #212121;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
  outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}


div.nosotros{
  text-align: center;
  width: 50%;
  padding: 10px;
}

h1.inicio{
  text-align: center;
  color:#ffeb3b;
}

div.secciones{
  width: 100%;
  display: flex;
  align-items: flex-end;
}

div.nosotros{
  text-align: center;
  width: 50%;
  padding: 10px;
  color: white;
}

div.segundo{
  text-align: center;
  width: 50%;
  padding: 10px;
  color: white;
}

#sticky-menu {
  position: sticky;
  top: 0; left: 0;
  display: flex;
  background: #3c3c3c;
}

#sticky-menu a {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#sticky-menu a:hover{
  background: #691717;
}

#sticky-menu i {
  text-decoration: none;
  font-style: normal;
}

/* Footer */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

 /* CSS */
.button-24 {
  background: #FBC638;
  border: 1px solid #FBC638;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: white;
}

.button-24:active {
  opacity: .5;
}